[Unit]
Description=Kodi Monitor Script
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/USERNAME/kodi-remote/remote-kodi.py --log-level INFO --user USERNAME
WorkingDirectory=/home/USERNAME/kodi-remote/
Restart=always

[Install]
WantedBy=default.target
